<% @user ||= current_user %>


<div class="stats">
  <% if current_user.admin? %>
    <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <p style="font-size:15px; color:white"><%= @user.followers.count %></p>
    </strong>
    <p style="font-size:15px; color:white">Registered Users</p>
    </a>
  <% else %>
    <% if !current_user?(@user) %>
      <!--<a href="<%= followers_user_path(@user) %>">-->
      <strong id="followers" class="stat">
        <p style="font-size:15px; color:white"><%= @user.followers.count %></p>
      </strong>
      <!--<p style="font-size:15px; color:white">Registered Users</p>-->
      </a>
    <% else %>
      <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <p style="font-size:15px; color:white"><%= @user.following.count %></p>
      </strong>
      <p style="font-size:15px; color:white">My Classes</p>
      </a>
    <% end %>
  <% end %>
</div>
